<p>You walk along the sunny path and discover a nice pub. You have a hearty lunch and watch the sunset.</p>
<p>Want to start again?</p>

<button class="btn btn-primary" hx-get="/cyoa" hx-target="#cyoa-target" hx-swap="innerHTML">Start again</button>
