<p>You slip at the entrance of the dark cave and fall into a nest of goblins. They eat you for lunch.</p>
<p>Want to start again?</p>

<button class="btn btn-primary" hx-get="/cyoa" hx-target="#cyoa-target" hx-swap="innerHTML">Start again</button>
