<p>You are in a dark forest, a scary cave is to your left, and a sunny path on your right.</p>
<p>Where do you go?</p>

<button class="btn btn-primary" hx-get="/cyoa1" hx-target="#cyoa-target" hx-swap="innerHTML">The sunny path</button>
<button class="btn btn-primary" hx-get="/cyoa2" hx-target="#cyoa-target" hx-swap="innerHTML">The Cave</button>
